body{
    display: flex;
    align-items: center;
    justify-content: center;
    height:  100vh;
}

.container{
    width: 400px;
}





#music-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#music-details p{
    margin-left: 30px;
    margin-right: 30px;
}

.times, .card-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

li.playing{
    color: #fff;
    background-color: #0b5eb7;
}

